<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
		<remove fileExtension=".mjs" />
		<mimeMap fileExtension=".mjs" mimeType="application/javascript" />
		<remove fileExtension=".wasm" />
		<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
		<remove fileExtension=".ftl" />
		<mimeMap fileExtension=".ftl" mimeType="text/plain" />
	</staticContent>

    <rewrite>
      <rules>
        <!-- 1) Pagine auth Angular: GET non va all'API -->
        <rule name="SPA auth pages" stopProcessing="true">
          <match url="^auth/(login|set-password)(/.*)?$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^GET$" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

        <!-- 2) API verso il core -->
        <rule name="Proxy API to core" stopProcessing="true">
          <match url="^(auth|fln|public|sso|api|worker)(/.*)?$" ignoreCase="true" />
          <action type="Rewrite" url="http://unipolgruppo-test-core.frontline.priv/{R:1}{R:2}" />
        </rule>

        <!-- 3) Fallback SPA -->
        <rule name="SPA fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>